@page "/addauthor"
@using AuthorBlazor.Data
@using AuthorBlazor.Model
@inject ICloudService CloudService

<h3>Add author</h3>

<EditForm Model="@newAuthor" OnValidSubmit="@AddAuthor">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        First Name:<br />
        <InputText rows="150" @bind-Value="newAuthor.FirstName" />
    </div>
    <div class="form-group">
        Last Name:<br />
        <InputText rows="150" @bind-Value="newAuthor.LastName" />
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add Author</button>
    </p>
</EditForm>

@code {
    private Author newAuthor = new Author();

    private async Task AddAuthor()
    {
        await CloudService.AddAuthor(newAuthor);
    }
}
