@page "/addbook"
@using AuthorBlazor.Data
@using AuthorBlazor.Model
@inject ICloudService CloudService

<h3>Add Book</h3>

<EditForm Model="@newBook" OnValidSubmit="@AddBook">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        ISBN:<br />
        <InputNumber @bind-Value="newBook.ISBN" />
    </div>
    <div class="form-group">
        Title:<br />
        <InputText rows="4" @bind-Value="newBook.Title" />
    </div>
    <div class="form-group">
        Publication Year:<br />
        <InputNumber rows="4" @bind-Value="newBook.PublicationYear" />
    </div>
    <div class="form-group">
        Pages:<br />
        <InputNumber rows="4" @bind-Value="newBook.NumOfPages" />
    </div>
    <div class="form-group">
        Genre:<br />
        <InputText rows="4" @bind-Value="newBook.Genre" />
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Create Book</button>
    </p>
</EditForm>

@code {
    private Book newBook = new Book();

    private async Task AddBook()
    {
        await CloudService.AddBook(newBook);
    }
}
